.Intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
  padding: 0.5rem 6.5rem;
  /* background: red; */
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(3) {
  font-size: 16px;
  color: var(--gray);
  margin-top: 10px;
  font-weight: 400;
}
.i-button {
  width: 10rem;
  height: 3rem;
}

.i-icons {
  /* margin-top: 3rem; */
  display: flex;
  margin: 0;
  width: 100%;
  height: 50%;
  /* height: 100%; */
  /* background: #edd0ff; */
  /* gap:0rem; */
  /* margin-left: 0; */
}

.i-icons a > * {
  transform: scale(1.2);
  margin: 70px 40px 0 0;
  height: 35px;
  width: 35px;
}

.i-icons > *:hover {
  cursor: pointer;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -3%;
  top: -1%;
}

.i-right > :nth-child(2) {
  top: -2rem;
  transform: scale(0.67);
  left: -1rem;
}

.i-right > :nth-child(3) {
  transform: scale(1.6);
  left: 28%;
  top: 10%;
}

.i-right > :nth-child(4) {
  transform: scale(0.5);
  left: -24%;
  top: -19%;
  border-radius: 50%;
  padding: 0;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .Intro {
    padding: 0.1rem 2.5rem;
    flex-direction: column;
    /* background: red; */
    height: 64rem;
    gap: 7rem;
  }

  .i-right {
    margin-top: 50%;
    /* margin-bottom: 50%; */
    transform: scale(0.8);
    left: -3rem;
  }
  /* 
    .i-right .blur{
     display: none;
    } */

  .i-right > :nth-child(1) {
    transform: scale(0.63);
    left: -15%;
    top: 4%;
  }

  .i-right > :nth-child(2) {
    top: -1rem;
    transform: scale(0.61);
    left: -6rem;
  }

  .floating-div:nth-of-type(1) {
    top: -7rem !important;
  }
}
