.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  padding: 0 20px 0 20px;
  margin-bottom: 6.5rem;
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
/* slider */
.portfolio .swiper {
  overflow: visible !important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}
.portfolio-slider .swiper-button-next {
  color: var(--orange);
}
.portfolio-slider .swiper-button-prev {
  color: var(--orange);
}

.portfolio-slider
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--orange);
}

.portfolio-slider .swiper-pagination {
  /* background-color: red; */
  position: relative;
}
.portfolio-slider .swiper-slide {
  width: 10rem;
}
.portfolio img {
  width: 19rem;
  height: 12rem;
  object-fit: cover;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

/* Card Porto */
.pro__img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  width: 53rem;
}

.pro__img a img {
  height: auto;
  width: 100%;
  transform: translateY(-0%);
  transition: transform 10s ease-in-out 0s;
}

.pro__img a img:hover {
  height: auto;
  width: 100%;
  transform: translateY(-65%);
  transition: transform 10s ease-in-out 0s;
}

.container-por {
  font-size: 62.5%;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  margin: 0 20% 0 20%;
  border-radius: 1.7rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  gap: 4rem;
  height: 23rem;
  width: auto;
  padding: 2rem 4rem 2rem 4rem;
}

.pro_text {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 30rem;
  font-size: medium;
}

.pro_text h3 {
  font-weight: bold;
}

.stack {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.stack p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 600 !important;
  padding: 1rem 1.3rem;
}

.links {
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.links,
.links a {
  align-items: center;
  display: flex;
  color: #2d2e32;
  font-weight: 500;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .portfolio-slider {
    /* margin-top: 3rem; */
    width: 90%;
  }
  .portfolio-slider .swiper-button-next {
    color: var(--orange);
  }
  .portfolio-slider .swiper-button-prev {
    color: var(--orange);
  }

  .portfolio-slider
    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--orange);
  }

  .portfolio-slider .swiper-pagination {
    /* background-color: red; */
    position: relative;
  }

  .portfolio {
    /* margin-top: 3rem; */
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .container-por {
    /* background-color: red; */
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    /* margin: 0 20% 0 20%; */
    border-radius: 1.7rem;
    margin: 0;
    padding: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    gap: 2rem;
    height: 35rem;
    width: 100%;
    flex-direction: column !important;
    padding: 1.5rem 1rem 2rem 1rem;
  }

  .pro__img {
    background-color: hsla(0, 0%, 46%, 0.2);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    overflow: hidden;
    width: 100%;
    /* background-color: red; */
  }
  .pro_text {
    /* background-color: red; */
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: medium;
  }

  .pro_text h3 {
    font-weight: bold;
  }

  .portfolio-slider {
    margin-top: 3rem;

    width: 100%;
  }

  .portfolio-slider .swiper-slide {
    width: 10rem;
  }
}
